extend default

block content
  div.container
    div.row
      div.col-md-9
        video(id="video" width="1024" height="768" preload="auto" loop)
        canvas(id="overlay" width="1024" height="768")
        canvas(id="overlay2" width="1024" height="768")
      div.col-md-3
        canvas(id="chartCanvas" width="400" height="300" )
        canvas(id="chartCanvas2" width="400" height="300")
        canvas(id="chartCanvas3" width="400" height="300")
        p(id="hr")
  input.btn(type="button" value="wait, loading video" disabled="disabled" onclick="startVideo()" id="startbutton")
  button.send Hello World
  